body {
    margin: 1em;
}

.header header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 7em;
    height: auto;
    margin-top: 5vh;
}

.header__title h1 {
    font-size: 3.3rem;
    font-family: "Sofia Sans", sans-serif;
}

.header__nav__hamburger {
    width: 3em;
    margin-top: 5vh;
}

.header__nav__hamburger:hover {
    cursor: pointer;
}

.header__nav__list {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #52ab89;
    z-index: 3;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
}

.header__nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5em;
}

.header__nav__list__tab {
    display: block;
    padding: 0.75em 0.75em;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.header__nav__list__tab a {
    text-decoration: none;
    color: white;
    font-family: "Sofia Sans", sans-serif;
}

.header__nav__list__tab a:hover {
    background-color: white;
    color: #2b6777;
}

.header__nav__list__close {
    position: absolute;
    top: 0;
    right: 0;
}

main {
    background-color: #f2f2f2;
    font-family: "Ubuntu", sans-serif;
    border-radius: 4px;
}

.upcoming__match {
    display: grid;
    grid-template-columns: 25% 7% 25% 40%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    margin: 5%;
}

.upcoming__match__info {
    padding-left: 1em;
}

footer {
    background-color: antiquewhite;
    font-family: "Ubuntu", sans-serif;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

.footer__nav__firstnav {
    display: flex;
    justify-content: space-between;
}

.footer__nav__secondnav {
    display: flex;
    justify-content: space-between;
}

.footer__nav__firstnav a,
.footer__nav__secondnav a {
    text-decoration: none;
    padding: 0.2em 1em;
}

.footer__nav__firstnav a:hover,
.footer__nav__secondnav a:hover {
    background-color: #2b6777;
}

.footer__nav__contact {
    display: flex;
}

.footer__nav__contact__logo {
    padding: 0.5em;
}

.footer__nav__contact__logo img {
    width: 2em;
    height: auto;
}

.footer__ads__grid {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
}

.footer__ads img {
    height: auto;
    display: inline-block;
    width: 27vw;
}

.header__nav__list--open {
    transform: translateX(0%);
}

@media only screen and (min-width: 624px) {
    body {
        margin: 1.5em 2em;
    }
}

@media only screen and (min-width: 920px) {
    .header__nav__hamburger {
        display: none;
    }
    .header__nav__list {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }
    .header__nav__list ul {
        display: flex;
    }
    .header__nav__list__tab a {
        color: black;
        background-color: none;
        font-size: 0.8rem;
    }
    .header__nav__list__tab a:hover {
        background-color: black;
        color: white;
    }
    .header__nav__list__close {
        display: none;
    }
}

@media only screen and (min-width: 1344px) {
    .upcoming {
        display: grid;
        grid-template-columns: 45vw 45vw;
    }
    .footergrid {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .footergrid__grid1 {
        width: auto;
    }
    .footer__nav__firstnav {
        display: unset;
    }
    .footer__nav__firstnav a {
        background-color: antiquewhite;
        border: none;
    }
    .footer__nav__secondnav {
        display: unset;
    }
    .footer__nav__secondnav a {
        background-color: antiquewhite;
        border: none;
    }
    .footer__nav__grid {
        display: grid;
        grid-template-columns: repeat(4, 30%);
    }
    .footer__nav__contact img {
        height: 1.5em;
    }
    .footer__ads__grid {
        grid-template-columns: repeat(3, 30%);
    }
    .footer__ads img {
        height: auto;
        display: inline-block;
        width: 90%;
    }
}